.App {
  color: #94969cf5;
  margin: 0 auto;
  max-width: 650px;
}

footer {
  font-size: 12px;
  font-style: italic;
  padding: 5px 0px 0px 10px;
}

footer a {
  color: rgb(219, 36, 67);
}

footer a:hover {
  color: rgba(219, 36, 66, 0.616);
  cursor: pointer;
}
